In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [27]:
!pwd
!ls

/Users/sanketmishra/desktop/practice/nlp/assignment-2
spam or not.ipynb spam.csv

In [170]:
# reading and preprocessing dataset

df = pd.read_table('./spam.csv',encoding="latin-1", names=["message"])
df = df.drop(df.index[0])
df.dropna(inplace=True)
def sep(item):
    if "ham" in item:
        return "ham"
    if "spam" in item:
        return "spam"
def remlabel(item):
    if "ham" in item:
        item = item[3:]
    if "spam" in item:
        item = item[4:]
    return item
df["label"]=df["message"].apply(sep)
df["message"] = df["message"].apply(remlabel)
df['label'] = df.label.map({'ham':0, 'spam':1})
df.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

                                             message  label
1  ,"Go until jurong point, crazy.. Available onl...      0
2                  ,Ok lar... Joking wif u oni...,,,      0
3  ,Free entry in 2 a wkly comp to win FA Cup fin...      1
4  ,U dun say so early hor... U c already then sa...      0
5  ,"Nah I don't think he goes to usf, he lives a...      0

In [183]:

df.drop(index=[100,2795]).loc[95:105]

                                               message  label
95   ,Havent planning to buy later. I check already...      0
96   ,"Your free ringtone is waiting to be collecte...      1
97               ,Watching telugu movie..wat abt u?,,,      0
98   ,i see. When we finish we have loads of loans ...      0
99   ,"Hi. Wk been ok - on hols now! Yes on for a b...      0
101  ,Please don't text me anymore. I have nothing ...      0
102  ,Okay name ur price as long as its legal! Wen ...      0
103  ,I'm still looking for a car to buy. And have ...      0
104  ,As per your request 'Melle Melle (Oru Minnami...      0
105  ,"wow. You're right! I didn't mean to do that....      0

In [184]:

print(df.loc[2795])
for i in df["label"].index:
    if df["label"][i] not in [0.0,1.0]:
        print(i)

message    ,Not from this campus. Are you in the library?,,,
label                                                      0
Name: 2795, dtype: object

In [172]:
count_vector = CountVectorizer()
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df['message'], 
                                                    df['label'], 
                                                    random_state=1,
                                                   test_size=0.3)

In [174]:
train_data = (count_vector.fit_transform(x_train)).toarray()
print(train_data)
print(train_data.shape)
test_data = (count_vector.transform(x_test)).toarray()
print(test_data)
print(test_data.shape)
for i in y_train:
    if(i == "na"):
        print(i)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(3901, 7154)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(1673, 7154)

In [175]:
# Instantiate our model
naive_bayes = MultinomialNB()

# Fit our model to the training data
naive_bayes.fit(train_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [178]:
# Predict on the test data
predictions = naive_bayes.predict(test_data)
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.9868499701135685
Precision score:  0.9671361502347418
Recall score:  0.9321266968325792
F1 score:  0.9493087557603687